<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU Moodboard</title>
</head>
<body>
    <div class="hdr">
        <h1>ZSU Moodboard</h1>
        <ul class="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/about" class="act">ABOUT</a></li>
        </ul>
    </div>

    <p>A collection of random images.</p>

</body>
</html>