<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU Imgur</title>
</head>
<body>
    <div class="hdr">
        <h1>ZSU Random</h1>
        <ul class="nav">
            <li><a href="/" class="fstlink">HOME</a></li>
            <li><a href="/about" class="sndlink">ABOUT</a></li>
        </ul>
    </div>

    <p>A collection of random images.</p>

</body>
</html>