<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Imgur App 2.0</title>
</head>
<body>
    <div class="hdr">
        <h1>ZSU Moodboard</h1>
        <ul class="nav">
            <li><a href="/" class="act">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
    </div>

    <div class="left"></div>
    <div class="right"></div>

    <script type="text/javascript" src="js/imgs.js"></script>
</body>
</html>